.container {
    background-color: aliceblue;
    opacity: 100%;
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

ul {
    display: flex;
    gap: 3.2rem
}


.navbaricon:hover {
    text-decoration: underline;
    

}


.sviet {
    height: 40px;
    width: 50px;
}

.logo-sviet {
    width: 90px;
    height: auto;
    margin-top: -28px;
    margin-left: -3px;

}

.blackline {
    font-size: 5.7rem;
    font-weight: lighter;
    color: black;
    margin-top: -33px;
    margin-right: -10px;
    margin-left: -180px;

}

.logo-naac {
    width: 170px;
    height: auto;
    margin-top: -28px;
    margin-left: -210px;

}

.Logobrand {
    margin-left:-10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #efb036 !important;

}

.experience {
    color: #23486A;
    padding-left: 5rem;
}